html,
body {
	height: 100%;
}

.w3-teal {
	background-color: darkslategray !important;
}

#toolbar {
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 750px;
	background: #444753;
	border-radius: 5px;
}

.people-list {
	width: 260px;
	float: left;
}
.people-list .search {
	padding: 20px;
}
.people-list input {
	border-radius: 3px;
	border: none;
	padding: 14px;
	color: white;
	background: #6a6c75;
	width: 90%;
	font-size: 14px;
}
.people-list .fa-search {
	position: relative;
	left: -25px;
}
.people-list ul {
	padding: 20px;
	height: 770px;
}
.people-list ul li {
	padding-bottom: 20px;
}
.people-list img {
	float: left;
}
.people-list .about {
	float: left;
	margin-top: 8px;
}
.people-list .about {
	padding-left: 8px;
}
.people-list .status {
	color: #92959e;
}

/* .chat {
  width: 100%;
  float: left;
  background: #f2f5f8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
} */
.chat .chat-header {
	padding: 20px;
	padding-top: 5px;
	border-bottom: 2px solid white;
}
.chat .chat-header img {
	float: left;
}
.chat .chat-header .chat-about {
	float: left;
	padding-left: 10px;
	margin-top: 6px;
}
.chat .chat-header .chat-with {
	font-weight: bold;
	font-size: 16px;
}
.chat .chat-header .chat-num-messages {
	color: #92959e;
}
.chat .chat-header .fa-star {
	float: right;
	color: #d8dadf;
	font-size: 20px;
	margin-top: 12px;
}
.chat .chat-history {
	padding: 30px 30px 20px;
	border-bottom: 2px solid white;
	overflow-y: scroll;
	height: 575px;
}
.chat .chat-history .message-data {
	z-index: 1;
	margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
	color: #a8aab1;
	padding-left: 6px;
}
.chat .chat-history .message {
	color: white;
	padding: 18px 20px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 7px;
	margin-bottom: 30px;
	min-width: 20%;
	max-width: 45%;
	word-wrap: break-word;
	position: relative;
}

.chat .chat-history .message:after {
	bottom: 100%;
	left: 7%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #86bb71;
	border-width: 10px;
	margin-left: -10px;
}
.chat .chat-history .my-message {
	background: #86bb71;
}
.chat .chat-history .other-message {
	background: #94c2ed;
	border-radius: 0px 7px 7px 0px;
	padding-left: 10px;
}
.chat .chat-history .other-message:after {
	border-bottom-color: #94c2ed;
	left: 93%;
}
.chat .chat-message {
	padding: 30px;
}
.chat .chat-message textarea {
	width: 90%;
	border: none;
	padding: 10px 20px;
	font: 14px/22px "Lato", Arial, sans-serif;
	margin-right: px;
	border-radius: 5px;
	resize: none;
}
.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
	font-size: 16px;
	color: gray;
	cursor: pointer;
}
.chat .chat-message button {
	background-image: url('img/sharp_blue_send.png');
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	float: right;
	color: #2677c4;
	background-color: white;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
}
.chat .chat-message button:hover {
	background-image: url('img/sharp_blue_hover.png');
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	float: right;
	color: #2677c4;
	background-color: white;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.chat .chat-message button:active {
	background-image: url('img/sharp_blue_click.png');
	
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	float: right;
	color: #2677c4;
	background-color: white;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	font-weight: bold;
}

.online,
.offline,
.me {
	margin-right: 3px;
	font-size: 10px;
}

.online {
	color: #86bb71;
}

.offline {
	color: #e38968;
}

.me {
	color: #94c2ed;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.float-right {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#message-to-send {
	border: 1px black solid;
	height: 100%;
	overflow: hidden;
}

#chatSendBox_div {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

/* #chatContent {
	
} */

#chat_div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

#chatHeader_div {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-grow: 0;
	/* border: 2px black solid; */
	background-color: darkslategray;
	
    margin: 10px;
    border-radius: 5px;
}

#add_member {
	background-image: url('img/add_member.png');
	background-position: center;
	background-size: 55px 40px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	padding: 10px;
	width: 75px;
	height: 60px;
	
	margin-left: auto;
}

#add_member:hover {
	background-image: url('img/add_member_hover.png');
	background-position: center;
	background-size: 55px 40px;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	padding: 10px;
	width: 75px;
	height: 60px;
	
	margin-left: auto;
}

#chatContent {
	overflow: hidden;
}

#chatContent_div {
	flex-grow: 1;
	background-image: url('img/image.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right bottom;
}

#chatSendBox_div {
	flex-grow: 0;
	z-index: 6;
	background-color: white;
}

#toolbar {
	flex-grow: 0;
}

#mainChat {
	flex-grow: 1;
}

#chat_with {
	font-family: Ink Free;
	font-style: italic;
	color: white;
}

#logout {
	margin: 5px 0px;
}

#add_member_relative {
	background-color: wheat;
	display: none;
	position: relative;
	width: 550px;
	height: auto;
	padding: 5px;
	right: 500px;
	top: 50px;
}

#add_member:hover #add_member_relative {
	z-index: 5;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: row;
	justify-content: flex-start;
}

#add_member_img {
	height: 20px;
}

#add_member_input {
	margin-left: 10px;
	margin-right: 5px;
	width: 400px;
}

#scroll_down_btn {
	content: url('img/scroll_down_deep.png');
	display: none;
	position: absolute;
	right: 60px;
	bottom: 40px;
	width: 55px;
	height: 55px;
	z-index: 2;
}

.unsendBtn {
	border-radius: 7px 0px 0px 7px;
	color: white;
	background-color: #94c2ed;
	width: 20px;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.unsendBtn:hover {
	color: black;
	background-color: #7cb6ec;
}

#scroll_down_btn:hover {
	content: url('img/scroll_down_deep_hover.png');
}

#mySidebar {
	z-index: 10;
	flex-direction: column;
	justify-content: flex-start;
}

#notice_new_chatroom {
	margin-top: auto;
	height: 40px;
}

#add_new_chatroom {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	padding: 5px;
	
}

#new_chatroom_input {
	height: 40px;
	flex-grow: 1;
	flex-shrink: 0;
	margin-right: 5px;
}

#new_chatroom_btn {
	background-image: url('img/chat.png');
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 40px;
	height: 40px;
	flex-grow: 0;
	flex-shrink: 0;
}

#new_chatroom_btn:hover {
	background-image: url('img/chat_hover.png');
	border: 'none';
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	width: 40px;
	height: 40px;
	flex-grow: 0;
	flex-shrink: 0;
}
