body {
    background-image: url('img/SignInBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
	max-width: 100%;
	min-height: 100vh;
	overflow: hidden;
}

#title {
    color: white;
	display: flex;
	justify-content: center;
	margin: 50px auto;
}

#accordionExample {
	width: 700px;
	margin: auto;
}